.board {
  border-spacing: 0;
  height: 500px;
  font-size: 80px;
  text-align: center;
  font-family: "Indie Flower", cursive;

  &__cell {
    width: 320px;
    height: 100px;
  }
  &__cell--vert {
    border-left: 2px solid var(--color-board-border);
    border-right: 2px solid var(--color-board-border);
  }
  &__cell--hori {
    border-top: 2px solid var(--color-board-border);
    border-bottom: 2px solid var(--color-board-border);
  }
}
