.restart-btn-container {
  padding: 50px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .restart-btn-container {
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .restart-btn__container {
    padding: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .restart-btn__container {
    padding: 20px;
  }
}

.restart-btn-container__btn {
  padding: 16px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s linear;
}

// btn

@media only screen and (max-width: 768px) {
  .restart-btn-container__btn {
    padding: 14px 8px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 550px) {
  .restart-btn-container__btn {
    padding: 14px 8px;
    font-size: 14px;
  }
}

.restart-btn-container__btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.restart-btn-container__btn--primary:hover {
  background-color: var(--color-primary-hover);
}
