.X-turn {
  color: var(--color-text-x);
}

.O-turn {
  color: var(--color-text-o);
}

.result-text {
  color: var(color-text-secondary);
}

.game-status__result {
  font-size: 30px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .game-status__result {
    font-size: 25px;
  }
}
