@font-face {
  font-family: "Alan Sans";
  src: url("/src/assets/fonts/AlanSans-Regular.ttf");
}

@font-face {
  font-family: "Indie Flower";
  src: url("/src/assets/fonts/IndieFlower-Regular.ttf");
}



